.navbar{
  background-color: papayawhip;
  display: flex;
  justify-content: space-between;
  padding: 1%;
}

.navbar1 {
  display: flex;
  justify-content: space-evenly;
  
}

.logo {
  width: 10vw;
}